doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Contact Demo tutorial
  body
    
    include includes/header.pug

    section.section
      .container
        h1.title Hello World Contact
        p.subtitle
          | My first website with 
          strong Bulma 😸
          | !
        p.bg Content goes here. 

        .columns
          .column
            .panel
              .panel-heading
                | Check Radios
              .panel-block
                .field
                  input#exampleCheckbox.is-checkbox(type='checkbox', name='exampleCheckbox', checked='checked')
                  label(for='exampleCheckbox') Check me
                .field
                  input#exampleRadioInline1.is-radio(type='radio', name='exampleRadioInline', checked='checked')
                  label(for='exampleRadioInline1') Option 1
                  input#exampleRadioInline2.is-radio(type='radio', name='exampleRadioInline')
                  label(for='exampleRadioInline2') Option 2

          .column
            .panel
              .panel-heading
                | Notifications
              .panel-block
                .columns
                  .column
                    span.badge(data-badge='8')
                      | Notifications
                  .column
                    span.badge.is-badge-success(data-badge='88')
                      | Notifications
                  .column
                    span.badge.is-badge-danger(data-badge='888')
                      | Notifications

        .columns
          .column
            .panel
              .panel-heading
                | Switch
              .panel-block
                .field
                  input#switchExample.switch(type='checkbox', name='switchExample', checked='checked')
                  label(for='switchExample') Switch example
          .column
            | text here